<ul class="sg-colors">
	<li>
		<span class="sg-swatch primary-color-lighter"></span>
		<span class="sg-label">#A9D670<br>$primary-color-lighter</span>
	</li>
  <li>
    <span class="sg-swatch primary-color"></span>
    <span class="sg-label">#84AE4B<br>$primary-color</span>
  </li>
	<li>
		<span class="sg-swatch primary-color-darker"></span>
		<span class="sg-label">#5b7934<br>$primary-color-darker</span>
	</li>
	<li>
		<span class="sg-swatch secondary-color"></span>
		<span class="sg-label">#F75329<br>$secondary-color</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch gray-base"></span>
		<span class="sg-label">#3E2D1F<br>$gray-base</span>
	</li>
	<li>
		<span class="sg-swatch gray-darker"></span>
		<span class="sg-label">#6C4E36<br>$gray-darker</span>
	</li>
	<li>
		<span class="sg-swatch gray-dark"></span>
		<span class="sg-label">#825E41<br>$gray-dark</span>
	</li>
	<li>
		<span class="sg-swatch gray"></span>
		<span class="sg-label">#AD805B<br>$gray</span>
	</li>
	<li>
		<span class="sg-swatch gray-light"></span>
		<span class="sg-label">#C3A388<br>$gray-light</span>
	</li>
	<li>
		<span class="sg-swatch gray-lighter"></span>
		<span class="sg-label">#F6F4EF<br>$gray-lighter</span>
	</li>
</ul>
<ul class="sg-colors">
	<li>
		<span class="sg-swatch white"></span>
		<span class="sg-label">#FFFFFF<br>white</span>
	</li>
		<li>
		<span class="sg-swatch black"></span>
		<span class="sg-label">#000000<br>black</span>
	</li>
</ul>
