<div class="font-primary">Primary font: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;</div>
<div><em>Primary font italic: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;</em></div>
<div><strong>Primary font bold: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;</strong></div>
<div class="font-secondary">Secondary font: 'Bitter', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;</div>
<div class="font-secondary"><em>Secondary font italic: 'Bitter', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;</em></div>
<div class="font-secondary bold">Secondary font bold; 'Bitter', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;</div>
